<div class="contacts-container">
  <div class="contacts-content">
    <p>
      Адреса:
      <a class="link" href="https://www.google.com.ua/maps/dir//%D0%86%D0%BD%D1%82%D0%B5%D1%80%D1%81%D1%96%D1%82%D1%96,+%D0%BF%D1%80%D0%BE%D1%81%D0%BF%D0%B5%D0%BA%D1%82+%D0%A7%D0%B5%D1%80%D0%B2%D0%BE%D0%BD%D0%BE%D1%97+%D0%9A%D0%B0%D0%BB%D0%B8%D0%BD%D0%B8,+62a,+%D0%9B%D1%8C%D0%B2%D1%96%D0%B2,+%D0%9B%D1%8C%D0%B2%D1%96%D0%B2%D1%81%D1%8C%D0%BA%D0%B0+%D0%BE%D0%B1%D0%BB%D0%B0%D1%81%D1%82%D1%8C,+79000/@49.7920873,24.053919,17z/data=!4m16!1m7!3m6!1s0x473ae86dcba7d477:0xb0c26cea0dcce16d!2z0IbQvdGC0LXRgNGB0ZbRgtGW!3b1!8m2!3d49.7920839!4d24.0561077!4m7!1m0!1m5!1m1!1s0x473ae86dcba7d477:0xb0c26cea0dcce16d!2m2!1d24.0561077!2d49.7920839?hl=ru">
        м.Львові на проспекті Червоної Калини 62-А, ТЦ "Інтерсіті"
      </a>
    </p>
    <p>
      Час роботи:
      Пн-Пт:	з 8:30 до 20:00,
      Сб-Нд: з 10:00 до 20:00
    </p>
    <p>
      Телефон: <a class="link" href="tel:+380687012644">+38 068 70 12 644</a>
    </p>
         <p>
       Пошта:
       <a class="link" href="mailto:crimeanbake@gmail.com">
         <img src="images/mailicon.png" alt="gmail icon" class="gmail-icon"/>
          crimeanbake@gmail.com
      </a>
    </p>
    <p>
      <a href="https://www.facebook.com/CrimeanBake/?fref=ts" class="link">
        <img src="images/facebook_logo.png" alt="facebook logo"/>/CrimeanBake
      </a>
    </p>
  </div>
  <div class="google-map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d2575.760538188399!2d24.053641415271365!3d49.79056794257252!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0x473ae86dcba7d477%3A0xb0c26cea0dcce16d!2z0IbQvdGC0LXRgNGB0ZbRgtGWLCDQv9GA0L7RgdC_0LXQutGCINCn0LXRgNCy0L7QvdC-0Zcg0JrQsNC70LjQvdC4LCA2MmEsINCb0YzQstGW0LIsINCb0YzQstGW0LLRgdGM0LrQsCDQvtCx0LvQsNGB0YLRjCwgNzkwMDA!3m2!1d49.792083899999994!2d24.0561077!5e0!3m2!1sru!2sua!4v1473060200042&language=ua" width="100%" height="450px" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
  </div>
