<article class="main-article">
  <header class="main-article--header">
    <h2>
        "Кримська перепічка"- це наш куточок Криму у Львові, запашна здоба та кава, зустрічі друзів та відродження традиційних рецептів.
        Ми працюємо, щоб ваше життя було смачнішим!
    </h2>
  </header>
  <div class="main-content">
    <video autoplay class="background-video" ng-if="!isMobile">
      <source src="video/Crimean-bake-video.mp4" type="video/mp4">
    </video>

    <img src="images/mobile-main-image.jpg" class="phone-img" alt="Випічка" ng-if="isMobile"/>
  </div>
</article>
