<article class="post">
  <header>
    <h2 class="post-title">Сихів "Fest to Go"</h2>
    <p class="post-date">
      18.09.2016
    </p>
  </header>
  <div class="post-content">
    <p>
      Природа під акомпанемент акустичної та класичної музики, а також наші смоколики - це все, що треба для чудового відпочинку. Не дивлячись на погоду цей фестиваль відбувся в парку імені Івана Павла II
    </p>
    <img src="images/news/fest-1.jpg" alt="Фото з фестиваля" class="post-image post-image--first" />
    <img src="images/news/fest-2.jpg" alt="Фото з фестиваля" class="post-image post-image--second" />
  </div>
</article>
