<div class="team-content">
  <p>
    Пекарі постійно працюють над асортиментом та якістю випічки.
    Кондитера вкладають усі зусилля, щоб крема були неймовірно смачні та вигадують гарний дизайн, щоб кожен десертик милував ваші очі.
    Бармени завжди усміхнені і з нетерпінням чекають на гостей. Вони залюбки зроблять вам запашну каву або смачний чай.
    Ми використуємо тільки натуральі продукти, щоб ваши діточки і ви завжди буди здорові і задовоені нашою продукцією.
  </p>
</div>
<div class="slideshow-container">

  <div class="slides fade out">
    <img class="" src="images/team/team-1.jpg">
  </div>

  <div class="slides fade out">
    <img class="" src="images/team/team-2.jpg">
  </div>

  <div class="slides fade out">
    <img class="" src="images/team/team-3.JPG">
  </div>

  <div class="slides fade out">
    <img class="" src="images/team/team-4.JPG">
  </div>

  <div class="slides fade out">
    <img class="" src="images/team/team-5.JPG">
  </div>


</div>
